asgiref @ file:///tmp/build/80754af9/asgiref_1625643473416/work
Bottleneck==1.3.2
certifi==2021.5.30
cycler==0.10.0
Django @ file:///tmp/build/80754af9/django_1625585912945/work
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1616757768152/work
fonttools==4.25.0
kiwisolver @ file:///opt/concourse/worker/volumes/live/0b2f3e77-eaa3-4995-7dd0-c994762fcbde/volume/kiwisolver_1612282417472/work
matplotlib @ file:///opt/concourse/worker/volumes/live/ea31f923-d5bd-4af7-6d95-b910b4a0fa5f/volume/matplotlib-suite_1628011455335/work
munkres==1.1.4
numexpr @ file:///Users/runner/miniforge3/conda-bld/numexpr_1630602529576/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1629092081841/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
pandas==1.3.3
Pillow @ file:///opt/concourse/worker/volumes/live/a7c937c5-8583-47b2-5ff1-0dd2a9a0d739/volume/pillow_1625655830909/work
psycopg2 @ file:///opt/concourse/worker/volumes/live/d12e789f-5b6c-4947-7cc2-187f3a9c9696/volume/psycopg2_1612298599991/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
tornado @ file:///opt/concourse/worker/volumes/live/05341796-4198-4ded-4a9a-332fde3cdfd1/volume/tornado_1606942323372/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
